<!DOCTYPE html>
<html>
  <head>
    <title>MailboxTester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" data-controller="bulma-navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%= image_tag "envelope.svg", width: "23px", alt: "Home Page"%>
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="bulma-navbar.burger" data-action="bulma-navbar#toggle">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" data-target="bulma-navbar.menu">
          <div class="navbar-start">
            <a href="/" aria-label="All Messages" class="navbar-item <%= content_for :messages_active %>">Messages</a>
          </div>
          <div class="navbar-end">
    
          </div>
        </div>
      </nav>
      <main class="container">
    <%= yield %>
    </main>
  </body>
</html>
